02_Cvicenia/Cv_old/Cv5/U1_U3_PoistovnaKlient/src/wsdl/localhost_8080/Poistovna/Poistovna.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="najdiZmluvu" type="tns:najdiZmluvu"/>

<xs:element name="najdiZmluvuResponse" type="tns:najdiZmluvuResponse"/>

<xs:element name="novaZmluva" type="tns:novaZmluva"/>

<xs:element name="novaZmluvaResponse" type="tns:novaZmluvaResponse"/>

<xs:element name="pridajPoistenca" type="tns:pridajPoistenca"/>

<xs:element name="pridajPoistencaResponse" type="tns:pridajPoistencaResponse"/>

<xs:complexType name="novaZmluva">
<xs:sequence>
<xs:element name="navrhZmluvy" type="tns:zmluva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmluva">
<xs:sequence>
<xs:element name="cislo" type="xs:string" minOccurs="0"/>
<xs:element name="druh" type="tns:druh" minOccurs="0"/>
<xs:element name="majitel" type="tns:osoba" minOccurs="0"/>
<xs:element name="poistenci" type="tns:osoba" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ucastnici">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="tns:osoba"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uzavreta" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="osoba">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="meno" type="xs:string" minOccurs="0"/>
<xs:element name="nar" type="xs:dateTime" minOccurs="0"/>
<xs:element name="priezvisko" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="novaZmluvaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="najdiZmluvu">
<xs:sequence>
<xs:element name="cislo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="najdiZmluvuResponse">
<xs:sequence>
<xs:element name="return" type="tns:zmluva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pridajPoistenca">
<xs:sequence>
<xs:element name="cisloZmluvy" type="xs:string" minOccurs="0"/>
<xs:element name="poistenec" type="tns:osoba" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pridajPoistencaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="druh">
<xs:restriction base="xs:string">
<xs:enumeration value="CESTOVNE"/>
<xs:enumeration value="ZIVOTNE"/>
<xs:enumeration value="URAZOVE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>