02_Cvicenia/Cv_old/Cv5/U1_U3_PoistovnaKlient/src/wsdl/localhost_8080/Poistovna/Poistovna.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Poistovna">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Poistovna/Poistovna?xsd=1"/>
</xsd:schema>
</types>
<message name="pridajPoistenca">
<part name="parameters" element="tns:pridajPoistenca"/>
</message>
<message name="pridajPoistencaResponse">
<part name="parameters" element="tns:pridajPoistencaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="novaZmluva">
<part name="parameters" element="tns:novaZmluva"/>
</message>
<message name="novaZmluvaResponse">
<part name="parameters" element="tns:novaZmluvaResponse"/>
</message>
<message name="najdiZmluvu">
<part name="parameters" element="tns:najdiZmluvu"/>
</message>
<message name="najdiZmluvuResponse">
<part name="parameters" element="tns:najdiZmluvuResponse"/>
</message>
<portType name="Poistovna">
<operation name="pridajPoistenca">
<input wsam:Action="http://ws/Poistovna/pridajPoistencaRequest" message="tns:pridajPoistenca"/>
<output wsam:Action="http://ws/Poistovna/pridajPoistencaResponse" message="tns:pridajPoistencaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/Poistovna/pridajPoistenca/Fault/Exception"/>
</operation>
<operation name="novaZmluva">
<input wsam:Action="http://ws/Poistovna/novaZmluvaRequest" message="tns:novaZmluva"/>
<output wsam:Action="http://ws/Poistovna/novaZmluvaResponse" message="tns:novaZmluvaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/Poistovna/novaZmluva/Fault/Exception"/>
</operation>
<operation name="najdiZmluvu">
<input wsam:Action="http://ws/Poistovna/najdiZmluvuRequest" message="tns:najdiZmluvu"/>
<output wsam:Action="http://ws/Poistovna/najdiZmluvuResponse" message="tns:najdiZmluvuResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/Poistovna/najdiZmluvu/Fault/Exception"/>
</operation>
</portType>
<binding name="PoistovnaPortBinding" type="tns:Poistovna">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pridajPoistenca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="novaZmluva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="najdiZmluvu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Poistovna">
<port name="PoistovnaPort" binding="tns:PoistovnaPortBinding">
<soap:address location="http://localhost:8080/Poistovna/Poistovna"/>
</port>
</service>
</definitions>