04_Playground/Z2/AutobusyKlient/src/wsdl/localhost_8080/Autobusy/AutobusWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AutobusWS" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Autobusy/AutobusWS?xsd=1"/>
</xsd:schema>
</types>
<message name="pridajSpoj">
<part name="parameters" element="tns:pridajSpoj"/>
</message>
<message name="pridajSpojResponse">
<part name="parameters" element="tns:pridajSpojResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="cestovnyPoriadok">
<part name="parameters" element="tns:cestovnyPoriadok"/>
</message>
<message name="cestovnyPoriadokResponse">
<part name="parameters" element="tns:cestovnyPoriadokResponse"/>
</message>
<message name="rezervujMiesto">
<part name="parameters" element="tns:rezervujMiesto"/>
</message>
<message name="rezervujMiestoResponse">
<part name="parameters" element="tns:rezervujMiestoResponse"/>
</message>
<portType name="AutobusWS">
<operation name="pridajSpoj">
<input wsam:Action="http://ws/AutobusWS/pridajSpojRequest" message="tns:pridajSpoj"/>
<output wsam:Action="http://ws/AutobusWS/pridajSpojResponse" message="tns:pridajSpojResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/AutobusWS/pridajSpoj/Fault/Exception"/>
</operation>
<operation name="cestovnyPoriadok">
<input wsam:Action="http://ws/AutobusWS/cestovnyPoriadokRequest" message="tns:cestovnyPoriadok"/>
<output wsam:Action="http://ws/AutobusWS/cestovnyPoriadokResponse" message="tns:cestovnyPoriadokResponse"/>
</operation>
<operation name="rezervujMiesto">
<input wsam:Action="http://ws/AutobusWS/rezervujMiestoRequest" message="tns:rezervujMiesto"/>
<output wsam:Action="http://ws/AutobusWS/rezervujMiestoResponse" message="tns:rezervujMiestoResponse"/>
    <jaxws:bindings>
        <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
    </jaxws:bindings>
</operation>
</portType>
<binding name="AutobusWSPortBinding" type="tns:AutobusWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pridajSpoj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cestovnyPoriadok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rezervujMiesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AutobusWS">
<port name="AutobusWSPort" binding="tns:AutobusWSPortBinding">
<soap:address location="http://localhost:8080/Autobusy/AutobusWS"/>
</port>
</service>
</definitions>