04_Playground/Z2/Cv2_JedalenKlient/src/wsdl/localhost_8080/Jedalen/Jedalen.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Jedalen" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Jedalen/Jedalen?xsd=1"/>
</xsd:schema>
</types>
<message name="vytvorJedlo">
<part name="parameters" element="tns:vytvorJedlo"/>
</message>
<message name="vytvorJedloResponse">
<part name="parameters" element="tns:vytvorJedloResponse"/>
</message>
<message name="odstranJedlo">
<part name="parameters" element="tns:odstranJedlo"/>
</message>
<message name="ponuka">
<part name="parameters" element="tns:ponuka"/>
</message>
<message name="ponukaResponse">
<part name="parameters" element="tns:ponukaResponse"/>
</message>
<message name="zmenCenu">
<part name="parameters" element="tns:zmenCenu"/>
</message>
<message name="zmenCenuResponse">
<part name="parameters" element="tns:zmenCenuResponse"/>
</message>
<message name="zmenPopis">
<part name="parameters" element="tns:zmenPopis"/>
</message>
<message name="zmenPopisResponse">
<part name="parameters" element="tns:zmenPopisResponse"/>
</message>
<message name="objednaj">
<part name="parameters" element="tns:objednaj"/>
</message>
<message name="objednajResponse">
<part name="parameters" element="tns:objednajResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="pocetObjednavok">
<part name="parameters" element="tns:pocetObjednavok"/>
</message>
<message name="pocetObjednavokResponse">
<part name="parameters" element="tns:pocetObjednavokResponse"/>
</message>
<message name="findNextPrime">
<part name="parameters" element="tns:findNextPrime"/>
</message>
<message name="findNextPrimeResponse">
<part name="parameters" element="tns:findNextPrimeResponse"/>
</message>
<message name="info">
<part name="parameters" element="tns:info"/>
</message>
<message name="infoResponse">
<part name="parameters" element="tns:infoResponse"/>
</message>
<portType name="Jedalen">
<operation name="vytvorJedlo">
<input wsam:Action="http://ws/Jedalen/vytvorJedloRequest" message="tns:vytvorJedlo"/>
<output wsam:Action="http://ws/Jedalen/vytvorJedloResponse" message="tns:vytvorJedloResponse"/>
</operation>
<operation name="odstranJedlo">
<input wsam:Action="http://ws/Jedalen/odstranJedlo" message="tns:odstranJedlo"/>
</operation>
<operation name="ponuka">
<input wsam:Action="http://ws/Jedalen/ponukaRequest" message="tns:ponuka"/>
<output wsam:Action="http://ws/Jedalen/ponukaResponse" message="tns:ponukaResponse"/>
</operation>
<operation name="zmenCenu">
<input wsam:Action="http://ws/Jedalen/zmenCenuRequest" message="tns:zmenCenu"/>
<output wsam:Action="http://ws/Jedalen/zmenCenuResponse" message="tns:zmenCenuResponse"/>
</operation>
<operation name="zmenPopis">
<input wsam:Action="http://ws/Jedalen/zmenPopisRequest" message="tns:zmenPopis"/>
<output wsam:Action="http://ws/Jedalen/zmenPopisResponse" message="tns:zmenPopisResponse"/>
</operation>
<operation name="objednaj">
<input wsam:Action="http://ws/Jedalen/objednajRequest" message="tns:objednaj"/>
<output wsam:Action="http://ws/Jedalen/objednajResponse" message="tns:objednajResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/Jedalen/objednaj/Fault/Exception"/>
</operation>
<operation name="pocetObjednavok">
<input wsam:Action="http://ws/Jedalen/pocetObjednavokRequest" message="tns:pocetObjednavok"/>
<output wsam:Action="http://ws/Jedalen/pocetObjednavokResponse" message="tns:pocetObjednavokResponse"/>
</operation>
<operation name="findNextPrime">
<input wsam:Action="http://ws/Jedalen/findNextPrimeRequest" message="tns:findNextPrime"/>
<output wsam:Action="http://ws/Jedalen/findNextPrimeResponse" message="tns:findNextPrimeResponse"/>
</operation>
<operation name="info">
<input wsam:Action="http://ws/Jedalen/infoRequest" message="tns:info"/>
<output wsam:Action="http://ws/Jedalen/infoResponse" message="tns:infoResponse"/>
</operation>
</portType>
<binding name="JedalenPortBinding" type="tns:Jedalen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="vytvorJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="odstranJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ponuka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zmenCenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zmenPopis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="objednaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="pocetObjednavok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findNextPrime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Jedalen">
<port name="JedalenPort" binding="tns:JedalenPortBinding">
<soap:address location="http://localhost:8080/Jedalen/Jedalen"/>
</port>
</service>
    <jaxws:bindings>
        <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
    </jaxws:bindings>
</definitions>