01_Prednasky/P_old/SoapP5/UnionClient/src/META-INF/wsdl/localhost_8080/UnionApp/UnionWSDLService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://iko.stupa.sk/UnionSchema" targetNamespace="http://iko.stupa.sk/UnionSchema" elementFormDefault="qualified">
    <xsd:complexType name="Navrh">
        <xsd:sequence>
            <xsd:element name="typ" type="tns:TypPoistenia"/>
            <xsd:element name="poistne" type="tns:KladneCisloType" minOccurs="0"/>
            <xsd:element name="vlastnik" type="xsd:IDREF"/>
            <xsd:element name="poistenec" type="xsd:IDREF" maxOccurs="unbounded"/>
            <xsd:element name="ucastnik" type="tns:Osoba" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TypPoistenia">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PZP">
                <xsd:annotation>
                    <xsd:documentation>PZP</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ZIVOTNE">
                <xsd:annotation>
                    <xsd:documentation>ZIVOTNE</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CESTOVNE">
                <xsd:annotation>
                    <xsd:documentation>cest</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="hladaj-vstup" type="xsd:string"/>
    <xsd:element name="hladaj-vystup" type="tns:Navrh"/>
    <xsd:simpleType name="PscType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="vytvor-in" type="tns:Navrh"/>
    <xsd:element name="vytvor-out" type="tns:Zmluva"/>
    <xsd:simpleType name="KladneCisloType">
        <xsd:restriction base="xsd:float">
            <xsd:minExclusive value="0.0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="pscType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Adresa">
        <xsd:sequence>
            <xsd:element name="mesto" type="xsd:string"/>
            <xsd:element name="ulica" type="xsd:string"/>
            <xsd:element name="psc" type="tns:pscType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Osoba">
        <xsd:sequence>
            <xsd:element name="meno" type="xsd:string"/>
            <xsd:element name="rodneCislo" type="xsd:string"/>
            <xsd:element name="bydlisko" type="tns:Adresa"/>
            <xsd:element name="oid" type="xsd:ID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Zmluva">
        <xsd:complexContent>
            <xsd:extension xmlns:tns="http://iko.stupa.sk/UnionSchema" base="tns:Navrh">
                <xsd:sequence>
                    <xsd:element name="cislo" type="xsd:string"/>
                    <xsd:element name="uzavreta" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>