02_Cvicenia/Cv_old/Cv4/Uloha3_PoistovnaCodeFirstKlient/src/wsdl/localhost_8080/Uloha3_PoistovnaCodeFirst/Poistovna.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="navrhZmluvy" type="tns:navrhZmluvy"/>

<xs:element name="navrhZmluvyResponse" type="tns:navrhZmluvyResponse"/>

<xs:complexType name="navrhZmluvy">
<xs:sequence>
<xs:element name="navrh" type="tns:zmluva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmluva">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="majitel" type="tns:osoba" minOccurs="0"/>
<xs:element name="poistenec" type="tns:osoba" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="osoba">
<xs:sequence>
<xs:element name="datumNar" type="xs:dateTime" minOccurs="0"/>
<xs:element name="meno" type="xs:string" minOccurs="0"/>
<xs:element name="priezvisko" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="navrhZmluvyResponse">
<xs:sequence>
<xs:element name="return" type="tns:zmluva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>