03_Zapocty/Z2/Zapocet2/src/wsdl/147.175.121.241_8080/Zapocet21/LetiskoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="lifecheck" type="tns:lifecheck" />

<xs:element name="lifecheckResponse" type="tns:lifecheckResponse" />

<xs:element name="planLetov" type="tns:planLetov" />

<xs:element name="planLetovResponse" type="tns:planLetovResponse" />

<xs:element name="rezervacia" type="tns:rezervacia" />

<xs:element name="rezervaciaResponse" type="tns:rezervaciaResponse" />

<xs:complexType name="rezervacia">
<xs:sequence>
<xs:element name="cestujuci" type="xs:string" minOccurs="0" />
<xs:element name="kodLetu" type="xs:string" minOccurs="0" />
<xs:element name="miesto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="rezervaciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="planLetov">
<xs:sequence>
<xs:element name="cestujuci" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="planLetovResponse">
<xs:sequence>
<xs:element name="return" type="tns:Let" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Let">
<xs:sequence>
<xs:element name="kodLetu" type="xs:string" minOccurs="0" />
<xs:element name="destinacia" type="xs:string" minOccurs="0" />
<xs:element name="terminLetu" type="xs:dateTime" minOccurs="0" />
<xs:element name="volneMiesta" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lifecheck">
<xs:sequence>
<xs:element name="passwd" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lifecheckResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>