03_Zapocty/Z2/Zapocet2/src/wsdl/147.175.121.241_8080/Zapocet21/LetiskoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="LetiskoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://147.175.121.241:8080/Zapocet21/LetiskoWS?xsd=1" />
</xsd:schema>
</types>
<message name="lifecheck">
<part name="parameters" element="tns:lifecheck" />
</message>
<message name="lifecheckResponse">
<part name="parameters" element="tns:lifecheckResponse" />
</message>
<message name="planLetov">
<part name="parameters" element="tns:planLetov" />
</message>
<message name="planLetovResponse">
<part name="parameters" element="tns:planLetovResponse" />
</message>
<message name="rezervacia">
<part name="parameters" element="tns:rezervacia" />
</message>
<message name="rezervaciaResponse">
<part name="parameters" element="tns:rezervaciaResponse" />
</message>
<portType name="LetiskoWS">
<operation name="lifecheck">
<input wsam:Action="http://ws/LetiskoWS/lifecheckRequest" message="tns:lifecheck" />
<output wsam:Action="http://ws/LetiskoWS/lifecheckResponse" message="tns:lifecheckResponse" />
</operation>
<operation name="planLetov">
<input wsam:Action="http://ws/LetiskoWS/planLetovRequest" message="tns:planLetov" />
<output wsam:Action="http://ws/LetiskoWS/planLetovResponse" message="tns:planLetovResponse" />
</operation>
<operation name="rezervacia">
<input wsam:Action="http://ws/LetiskoWS/rezervaciaRequest" message="tns:rezervacia" />
<output wsam:Action="http://ws/LetiskoWS/rezervaciaResponse" message="tns:rezervaciaResponse" />
</operation>
</portType>
<binding name="LetiskoWSPortBinding" type="tns:LetiskoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="lifecheck">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="planLetov">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rezervacia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="LetiskoWS">
<port name="LetiskoWSPort" binding="tns:LetiskoWSPortBinding">
<soap:address location="http://147.175.121.241:8080/Zapocet21/LetiskoWS" />
</port>
</service>
</definitions>