01_Prednasky/P05-19_10/02_OsobyClient/src/wsdl/localhost_8080/02_OsobyServer/WSosoby.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Simpsons" type="tns:Simpsons"/>

<xs:element name="SimpsonsResponse" type="tns:SimpsonsResponse"/>

<xs:element name="info" type="tns:info"/>

<xs:element name="infoResponse" type="tns:infoResponse"/>

<xs:complexType name="info">
<xs:sequence>
<xs:element name="meno" type="xs:string" minOccurs="0"/>
<xs:element name="mesto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoResponse">
<xs:sequence>
<xs:element name="return" type="tns:osoba" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="osoba">
<xs:sequence>
<xs:element name="bydlisko" type="tns:adresa" minOccurs="0"/>
<xs:element name="gen" type="tns:gen" minOccurs="0"/>
<xs:element name="meno" type="xs:string" minOccurs="0"/>
<xs:element name="narodena" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adresa">
<xs:sequence>
<xs:element name="obec" type="xs:string" minOccurs="0"/>
<xs:element name="psc" type="xs:string" minOccurs="0"/>
<xs:element name="ulica" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Simpsons">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SimpsonsResponse">
<xs:sequence>
<xs:element name="return" type="tns:osoba" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="gen">
<xs:restriction base="xs:string">
<xs:enumeration value="MUZ"/>
<xs:enumeration value="ZENA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>