02_Cvicenia/Cv_old/Cv3/03_JedalenEJBKlient/src/wsdl/localhost_8080/02_JedalenEJB/JedalenEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="info" type="tns:info"/>

<xs:element name="infoResponse" type="tns:infoResponse"/>

<xs:element name="odstranJedlo" type="tns:odstranJedlo"/>

<xs:element name="pocetJedal" type="tns:pocetJedal"/>

<xs:element name="pocetJedalResponse" type="tns:pocetJedalResponse"/>

<xs:element name="ponuka" type="tns:ponuka"/>

<xs:element name="ponukaResponse" type="tns:ponukaResponse"/>

<xs:element name="vytvorJedlo" type="tns:vytvorJedlo"/>

<xs:element name="zmenCenu" type="tns:zmenCenu"/>

<xs:element name="zmenCenuResponse" type="tns:zmenCenuResponse"/>

<xs:element name="zmenPopis" type="tns:zmenPopis"/>

<xs:element name="zmenPopisResponse" type="tns:zmenPopisResponse"/>

<xs:complexType name="odstranJedlo">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ponuka">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ponukaResponse">
<xs:sequence>
<xs:element name="return" type="tns:jedlo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jedlo">
<xs:sequence>
<xs:element name="cena" type="xs:double"/>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
<xs:element name="popis" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmenPopis">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
<xs:element name="popis" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmenPopisResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="info">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoResponse">
<xs:sequence>
<xs:element name="return" type="tns:jedlo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vytvorJedlo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmenCenu">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
<xs:element name="cena" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmenCenuResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pocetJedal">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pocetJedalResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>