02_Cvicenia/Cv_old/Cv3/03_JedalenEJBKlient/src/wsdl/localhost_8080/02_JedalenEJB/JedalenEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="JedalenEJB">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/02_JedalenEJB/JedalenEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="ponuka">
<part name="parameters" element="tns:ponuka"/>
</message>
<message name="ponukaResponse">
<part name="parameters" element="tns:ponukaResponse"/>
</message>
<message name="vytvorJedlo">
<part name="parameters" element="tns:vytvorJedlo"/>
</message>
<message name="zmenPopis">
<part name="parameters" element="tns:zmenPopis"/>
</message>
<message name="zmenPopisResponse">
<part name="parameters" element="tns:zmenPopisResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="zmenCenu">
<part name="parameters" element="tns:zmenCenu"/>
</message>
<message name="zmenCenuResponse">
<part name="parameters" element="tns:zmenCenuResponse"/>
</message>
<message name="odstranJedlo">
<part name="parameters" element="tns:odstranJedlo"/>
</message>
<message name="pocetJedal">
<part name="parameters" element="tns:pocetJedal"/>
</message>
<message name="pocetJedalResponse">
<part name="parameters" element="tns:pocetJedalResponse"/>
</message>
<message name="info">
<part name="parameters" element="tns:info"/>
</message>
<message name="infoResponse">
<part name="parameters" element="tns:infoResponse"/>
</message>
<portType name="JedalenEJB">
<operation name="ponuka">
<input wsam:Action="http://ws/JedalenEJB/ponukaRequest" message="tns:ponuka"/>
<output wsam:Action="http://ws/JedalenEJB/ponukaResponse" message="tns:ponukaResponse"/>
</operation>
<operation name="vytvorJedlo">
<input wsam:Action="http://ws/JedalenEJB/vytvorJedlo" message="tns:vytvorJedlo"/>
</operation>
<operation name="zmenPopis">
<input wsam:Action="http://ws/JedalenEJB/zmenPopisRequest" message="tns:zmenPopis"/>
<output wsam:Action="http://ws/JedalenEJB/zmenPopisResponse" message="tns:zmenPopisResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/JedalenEJB/zmenPopis/Fault/Exception"/>
</operation>
<operation name="zmenCenu">
<input wsam:Action="http://ws/JedalenEJB/zmenCenuRequest" message="tns:zmenCenu"/>
<output wsam:Action="http://ws/JedalenEJB/zmenCenuResponse" message="tns:zmenCenuResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/JedalenEJB/zmenCenu/Fault/Exception"/>
</operation>
<operation name="odstranJedlo">
<input wsam:Action="http://ws/JedalenEJB/odstranJedlo" message="tns:odstranJedlo"/>
</operation>
<operation name="pocetJedal">
<input wsam:Action="http://ws/JedalenEJB/pocetJedalRequest" message="tns:pocetJedal"/>
<output wsam:Action="http://ws/JedalenEJB/pocetJedalResponse" message="tns:pocetJedalResponse"/>
</operation>
<operation name="info">
<input wsam:Action="http://ws/JedalenEJB/infoRequest" message="tns:info"/>
<output wsam:Action="http://ws/JedalenEJB/infoResponse" message="tns:infoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/JedalenEJB/info/Fault/Exception"/>
</operation>
</portType>
<binding name="JedalenEJBPortBinding" type="tns:JedalenEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ponuka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vytvorJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="zmenPopis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="zmenCenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="odstranJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="pocetJedal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="JedalenEJB">
<port name="JedalenEJBPort" binding="tns:JedalenEJBPortBinding">
<soap:address location="http://localhost:8080/02_JedalenEJB/JedalenEJB"/>
</port>
</service>
</definitions>