01_Prednasky/P_old/SoapP5/UnionClient/xml-resources/web-service-references/UnionWSDLService/wsdl/localhost_8080/UnionApp/UnionWSDLService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://iko.stuba.sk/UnionWSDL" xmlns:ns="http://iko.stupa.sk/UnionSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UnionWSDL" targetNamespace="http://iko.stuba.sk/UnionWSDL">
    <types>
        <xsd:schema targetNamespace="http://iko.stuba.sk/UnionWSDL">
            <xsd:import namespace="http://iko.stupa.sk/UnionSchema" schemaLocation="http://localhost:8080/UnionApp/UnionWSDLService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="vytvorRequest">
        <part name="navrh" element="ns:vytvor-in"/>
    </message>
    <message name="vytvorResponse">
        <part name="return" element="ns:vytvor-out"/>
    </message>
    <message name="hladajRequest">
        <part name="cislo" element="ns:hladaj-vstup"/>
    </message>
    <message name="hladajResponse">
        <part name="return" element="ns:hladaj-vystup"/>
    </message>
    <portType name="UnionWSDLPortType">
        <operation name="hladaj">
            <input name="input1" message="tns:hladajRequest"/>
            <output name="output1" message="tns:hladajResponse"/>
        </operation>
        <operation name="vytvor">
            <input name="input2" message="tns:vytvorRequest"/>
            <output name="output2" message="tns:vytvorResponse"/>
        </operation>
    </portType>
    <binding name="UnionWSDLBinding" type="tns:UnionWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hladaj">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="vytvor">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UnionWSDLService">
        <port name="UnionWSDLPort" binding="tns:UnionWSDLBinding">
            <soap:address location="http://localhost:8080/UnionApp/UnionWSDLService"/>
        </port>
    </service>
</definitions>