04_Playground/Z2/BankaKlient/src/wsdl/localhost_8080/Banka/BankaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Banka/BankaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addClient">
<part name="parameters" element="tns:addClient"/>
</message>
<message name="addClientResponse">
<part name="parameters" element="tns:addClientResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getCancelledTransactions">
<part name="parameters" element="tns:getCancelledTransactions"/>
</message>
<message name="getCancelledTransactionsResponse">
<part name="parameters" element="tns:getCancelledTransactionsResponse"/>
</message>
<message name="getNotCancelledTransactions">
<part name="parameters" element="tns:getNotCancelledTransactions"/>
</message>
<message name="getNotCancelledTransactionsResponse">
<part name="parameters" element="tns:getNotCancelledTransactionsResponse"/>
</message>
<message name="addAccount">
<part name="parameters" element="tns:addAccount"/>
</message>
<message name="addAccountResponse">
<part name="parameters" element="tns:addAccountResponse"/>
</message>
<message name="createTransfer">
<part name="parameters" element="tns:createTransfer"/>
</message>
<message name="createTransferResponse">
<part name="parameters" element="tns:createTransferResponse"/>
</message>
<message name="cancelTransfer">
<part name="parameters" element="tns:cancelTransfer"/>
</message>
<message name="cancelTransferResponse">
<part name="parameters" element="tns:cancelTransferResponse"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="getClients">
<part name="parameters" element="tns:getClients"/>
</message>
<message name="getClientsResponse">
<part name="parameters" element="tns:getClientsResponse"/>
</message>
<portType name="BankaWS">
<operation name="addClient">
<input wsam:Action="http://ws/BankaWS/addClientRequest" message="tns:addClient"/>
<output wsam:Action="http://ws/BankaWS/addClientResponse" message="tns:addClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankaWS/addClient/Fault/Exception"/>
</operation>
<operation name="getCancelledTransactions">
<input wsam:Action="http://ws/BankaWS/getCancelledTransactionsRequest" message="tns:getCancelledTransactions"/>
<output wsam:Action="http://ws/BankaWS/getCancelledTransactionsResponse" message="tns:getCancelledTransactionsResponse"/>
</operation>
<operation name="getNotCancelledTransactions">
<input wsam:Action="http://ws/BankaWS/getNotCancelledTransactionsRequest" message="tns:getNotCancelledTransactions"/>
<output wsam:Action="http://ws/BankaWS/getNotCancelledTransactionsResponse" message="tns:getNotCancelledTransactionsResponse"/>
</operation>
<operation name="addAccount">
<input wsam:Action="http://ws/BankaWS/addAccountRequest" message="tns:addAccount"/>
<output wsam:Action="http://ws/BankaWS/addAccountResponse" message="tns:addAccountResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankaWS/addAccount/Fault/Exception"/>
</operation>
<operation name="createTransfer">
<input wsam:Action="http://ws/BankaWS/createTransferRequest" message="tns:createTransfer"/>
<output wsam:Action="http://ws/BankaWS/createTransferResponse" message="tns:createTransferResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankaWS/createTransfer/Fault/Exception"/>
</operation>
<operation name="cancelTransfer">
<input wsam:Action="http://ws/BankaWS/cancelTransferRequest" message="tns:cancelTransfer"/>
<output wsam:Action="http://ws/BankaWS/cancelTransferResponse" message="tns:cancelTransferResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankaWS/cancelTransfer/Fault/Exception"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://ws/BankaWS/withdrawRequest" message="tns:withdraw"/>
<output wsam:Action="http://ws/BankaWS/withdrawResponse" message="tns:withdrawResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankaWS/withdraw/Fault/Exception"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://ws/BankaWS/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://ws/BankaWS/depositResponse" message="tns:depositResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://ws/BankaWS/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://ws/BankaWS/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="getClients">
<input wsam:Action="http://ws/BankaWS/getClientsRequest" message="tns:getClients"/>
<output wsam:Action="http://ws/BankaWS/getClientsResponse" message="tns:getClientsResponse"/>
</operation>
</portType>
<binding name="BankaWSPortBinding" type="tns:BankaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getCancelledTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotCancelledTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankaWS">
<port name="BankaWSPort" binding="tns:BankaWSPortBinding">
<soap:address location="http://localhost:8080/Banka/BankaWS"/>
</port>
</service>
</definitions>