01_Prednasky/P04-12_10/01_Client/src/wsdl/localhost_8080/01_Server/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/01_Server/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="registruj">
<part name="parameters" element="tns:registruj"/>
</message>
<message name="registrujResponse">
<part name="parameters" element="tns:registrujResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="poistne">
<part name="parameters" element="tns:poistne"/>
</message>
<message name="poistneResponse">
<part name="parameters" element="tns:poistneResponse"/>
</message>
<message name="bish">
<part name="parameters" element="tns:bish"/>
</message>
<message name="bishResponse">
<part name="parameters" element="tns:bishResponse"/>
</message>
<portType name="MyWebService">
<operation name="registruj">
<input wsam:Action="http://ws/MyWebService/registrujRequest" message="tns:registruj"/>
<output wsam:Action="http://ws/MyWebService/registrujResponse" message="tns:registrujResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://ws/MyWebService/registruj/Fault/InterruptedException"/>
</operation>
<operation name="poistne">
<input wsam:Action="http://ws/MyWebService/poistneRequest" message="tns:poistne"/>
<output wsam:Action="http://ws/MyWebService/poistneResponse" message="tns:poistneResponse"/>
</operation>
<operation name="bish">
<input wsam:Action="http://ws/MyWebService/bishRequest" message="tns:bish"/>
<output wsam:Action="http://ws/MyWebService/bishResponse" message="tns:bishResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registruj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="poistne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bish">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8080/01_Server/MyWebService"/>
</port>
</service>
</definitions>