02_Cvicenia/C07-04_11/01_BankovyPrevodKlient/src/wsdl/localhost_8080/BankWS/BankWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/BankWS/BankWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getClients">
<part name="parameters" element="tns:getClients"/>
</message>
<message name="getClientsResponse">
<part name="parameters" element="tns:getClientsResponse"/>
</message>
<message name="getTransfers">
<part name="parameters" element="tns:getTransfers"/>
</message>
<message name="getTransfersResponse">
<part name="parameters" element="tns:getTransfersResponse"/>
</message>
<message name="addClient">
<part name="parameters" element="tns:addClient"/>
</message>
<message name="addClientResponse">
<part name="parameters" element="tns:addClientResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addAccount">
<part name="parameters" element="tns:addAccount"/>
</message>
<message name="addAccountResponse">
<part name="parameters" element="tns:addAccountResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="transferMoney">
<part name="parameters" element="tns:transferMoney"/>
</message>
<message name="transferMoneyResponse">
<part name="parameters" element="tns:transferMoneyResponse"/>
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney"/>
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse"/>
</message>
<message name="putMoney">
<part name="parameters" element="tns:putMoney"/>
</message>
<message name="putMoneyResponse">
<part name="parameters" element="tns:putMoneyResponse"/>
</message>
<portType name="BankWS">
<operation name="getClients">
<input wsam:Action="http://ws/BankWS/getClientsRequest" message="tns:getClients"/>
<output wsam:Action="http://ws/BankWS/getClientsResponse" message="tns:getClientsResponse"/>
</operation>
<operation name="getTransfers">
<input wsam:Action="http://ws/BankWS/getTransfersRequest" message="tns:getTransfers"/>
<output wsam:Action="http://ws/BankWS/getTransfersResponse" message="tns:getTransfersResponse"/>
</operation>
<operation name="addClient">
<input wsam:Action="http://ws/BankWS/addClientRequest" message="tns:addClient"/>
<output wsam:Action="http://ws/BankWS/addClientResponse" message="tns:addClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankWS/addClient/Fault/Exception"/>
</operation>
<operation name="addAccount">
<input wsam:Action="http://ws/BankWS/addAccountRequest" message="tns:addAccount"/>
<output wsam:Action="http://ws/BankWS/addAccountResponse" message="tns:addAccountResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://ws/BankWS/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://ws/BankWS/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="transferMoney">
<input wsam:Action="http://ws/BankWS/transferMoneyRequest" message="tns:transferMoney"/>
<output wsam:Action="http://ws/BankWS/transferMoneyResponse" message="tns:transferMoneyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankWS/transferMoney/Fault/Exception"/>
</operation>
<operation name="withdrawMoney">
<input wsam:Action="http://ws/BankWS/withdrawMoneyRequest" message="tns:withdrawMoney"/>
<output wsam:Action="http://ws/BankWS/withdrawMoneyResponse" message="tns:withdrawMoneyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankWS/withdrawMoney/Fault/Exception"/>
</operation>
<operation name="putMoney">
<input wsam:Action="http://ws/BankWS/putMoneyRequest" message="tns:putMoney"/>
<output wsam:Action="http://ws/BankWS/putMoneyResponse" message="tns:putMoneyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/BankWS/putMoney/Fault/Exception"/>
</operation>
</portType>
<binding name="BankWSPortBinding" type="tns:BankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransfers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="BankWS">
<port name="BankWSPort" binding="tns:BankWSPortBinding">
<soap:address location="http://localhost:8080/BankWS/BankWS"/>
</port>
</service>
</definitions>