01_Prednasky/P05-19_10/01_ClientAsync/src/wsdl/localhost_8080/01_ServerAsync/MyWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="bish" type="tns:bish"/>

<xs:element name="bishResponse" type="tns:bishResponse"/>

<xs:element name="poistne" type="tns:poistne"/>

<xs:element name="poistneResponse" type="tns:poistneResponse"/>

<xs:element name="registruj" type="tns:registruj"/>

<xs:complexType name="registruj">
<xs:sequence>
<xs:element name="arg0" type="tns:osoba" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="osoba">
<xs:sequence>
<xs:element name="meno" type="xs:string" minOccurs="0"/>
<xs:element name="vek" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bish">
<xs:sequence>
<xs:element name="niecoSemNapis" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bishResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="poistne">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="poistneResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>