02_Cvicenia/Cv_old/Cv4/Uloha1_JedalenCodeFirstKlient/src/wsdl/localhost_8080/Uloha1_JedalenCodeFirst/JedalenServis.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="JedalenServis">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Uloha1_JedalenCodeFirst/JedalenServis?xsd=1"/>
</xsd:schema>
</types>
<message name="getMenu">
<part name="parameters" element="tns:getMenu"/>
</message>
<message name="getMenuResponse">
<part name="parameters" element="tns:getMenuResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addJedlo">
<part name="parameters" element="tns:addJedlo"/>
</message>
<message name="addJedloResponse">
<part name="parameters" element="tns:addJedloResponse"/>
</message>
<portType name="JedalenServis">
<operation name="getMenu">
<input wsam:Action="http://ws/JedalenServis/getMenuRequest" message="tns:getMenu"/>
<output wsam:Action="http://ws/JedalenServis/getMenuResponse" message="tns:getMenuResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/JedalenServis/getMenu/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/JedalenServis/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/JedalenServis/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addJedlo">
<input wsam:Action="http://ws/JedalenServis/addJedloRequest" message="tns:addJedlo"/>
<output wsam:Action="http://ws/JedalenServis/addJedloResponse" message="tns:addJedloResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/JedalenServis/addJedlo/Fault/Exception"/>
</operation>
</portType>
<binding name="JedalenServisPortBinding" type="tns:JedalenServis">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="JedalenServis">
<port name="JedalenServisPort" binding="tns:JedalenServisPortBinding">
<soap:address location="http://localhost:8080/Uloha1_JedalenCodeFirst/JedalenServis"/>
</port>
</service>
</definitions>