04_Playground/Z2/Projekt2Klient/src/wsdl/localhost_8080/Projekt2/Projekt2Service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="DumbBitchException" type="tns:DumbBitchException"/>

<xs:element name="hladajTovar" type="tns:hladajTovar"/>

<xs:element name="hladajTovarResponse" type="tns:hladajTovarResponse"/>

<xs:element name="pridajDodavatela" type="tns:pridajDodavatela"/>

<xs:element name="pridajDodavatelaResponse" type="tns:pridajDodavatelaResponse"/>

<xs:element name="pridajTovar" type="tns:pridajTovar"/>

<xs:element name="pridajTovarResponse" type="tns:pridajTovarResponse"/>

<xs:complexType name="pridajTovar">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
<xs:element name="cena" type="xs:double"/>
<xs:element name="dostupnost" type="tns:dostupnostEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pridajTovarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DumbBitchException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pridajDodavatela">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
<xs:element name="dodavatel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pridajDodavatelaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hladajTovar">
<xs:sequence>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hladajTovarResponse">
<xs:sequence>
<xs:element name="return" type="tns:tovar" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tovar">
<xs:sequence>
<xs:element name="cena" type="xs:double"/>
<xs:element name="dodavatel" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dostupnost" type="tns:dostupnostEnum" minOccurs="0"/>
<xs:element name="nazov" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="dostupnostEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NASKLADE"/>
<xs:enumeration value="NEDOSTUPNE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>