04_Playground/Z2/Projekt2Klient/src/wsdl/localhost_8080/Projekt2/Projekt2Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Projekt2Service">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Projekt2/Projekt2Service?xsd=1"/>
</xsd:schema>
</types>
<message name="hladajTovar">
<part name="parameters" element="tns:hladajTovar"/>
</message>
<message name="hladajTovarResponse">
<part name="parameters" element="tns:hladajTovarResponse"/>
</message>
<message name="DumbBitchException">
<part name="fault" element="tns:DumbBitchException"/>
</message>
<message name="pridajDodavatela">
<part name="parameters" element="tns:pridajDodavatela"/>
</message>
<message name="pridajDodavatelaResponse">
<part name="parameters" element="tns:pridajDodavatelaResponse"/>
</message>
<message name="pridajTovar">
<part name="parameters" element="tns:pridajTovar"/>
</message>
<message name="pridajTovarResponse">
<part name="parameters" element="tns:pridajTovarResponse"/>
</message>
<portType name="Projekt2Service">
<operation name="hladajTovar">
<input wsam:Action="http://ws/Projekt2Service/hladajTovarRequest" message="tns:hladajTovar"/>
<output wsam:Action="http://ws/Projekt2Service/hladajTovarResponse" message="tns:hladajTovarResponse"/>
<fault message="tns:DumbBitchException" name="DumbBitchException" wsam:Action="http://ws/Projekt2Service/hladajTovar/Fault/DumbBitchException"/>
</operation>
<operation name="pridajDodavatela">
<input wsam:Action="http://ws/Projekt2Service/pridajDodavatelaRequest" message="tns:pridajDodavatela"/>
<output wsam:Action="http://ws/Projekt2Service/pridajDodavatelaResponse" message="tns:pridajDodavatelaResponse"/>
<fault message="tns:DumbBitchException" name="DumbBitchException" wsam:Action="http://ws/Projekt2Service/pridajDodavatela/Fault/DumbBitchException"/>
</operation>
<operation name="pridajTovar">
<input wsam:Action="http://ws/Projekt2Service/pridajTovarRequest" message="tns:pridajTovar"/>
<output wsam:Action="http://ws/Projekt2Service/pridajTovarResponse" message="tns:pridajTovarResponse"/>
<fault message="tns:DumbBitchException" name="DumbBitchException" wsam:Action="http://ws/Projekt2Service/pridajTovar/Fault/DumbBitchException"/>
</operation>
</portType>
<binding name="Projekt2ServicePortBinding" type="tns:Projekt2Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hladajTovar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DumbBitchException">
<soap:fault name="DumbBitchException" use="literal"/>
</fault>
</operation>
<operation name="pridajDodavatela">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DumbBitchException">
<soap:fault name="DumbBitchException" use="literal"/>
</fault>
</operation>
<operation name="pridajTovar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DumbBitchException">
<soap:fault name="DumbBitchException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Projekt2Service">
<port name="Projekt2ServicePort" binding="tns:Projekt2ServicePortBinding">
<soap:address location="http://localhost:8080/Projekt2/Projekt2Service"/>
</port>
</service>
</definitions>